body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    text-align: center;
    color: white;
    font-weight: bold

}
#message-el{
    font-family: italic;
}
h1{
    color: goldenrod;
}
button {
    font-size: 1rem;
    color: #016f32;
    background: goldenrod;
    /* background-color: green; */
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    /* padding: 10px 15px; */
    /* margin: 10px; */
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

